<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <center>
        <h1>Demonstration of simple if condition</h1>
        {% if a < b %}
            <h1>A is a greater value </h1>
        {% endif %}

        <h2>after if condition</h2>
    </center>
    -->
    <!--

    <h1>Demonstration of if_else conditions</h1>

        {% if a > b %}
            <h1>A is a greater value</h1>
        {% else %}
            <h1>B is a greater value</h1>
        {% endif %}
    -->

<center>
    <h1>Demonstration of if-elif-else</h1>
    {% if a > b %}
        <h1>a is a greater value</h1>
    {% elif b > c %}
        <h1>b is a greate value</h1>
    {% else %}
        <h1> C is a greater value</h1>
    {% endif %}
</center> 






























</body>
</html>